[submodule "typings/polymer2"]
	path = typings/polymer2
	url = https://github.com/Soul-Master/Polymer2-typing.git
[submodule "build/pure-js-es5"]
	path = build/pure-js-es5
	url = https://github.com/Soul-Master/Polymer2-Pure-JS.git
